.header {
  width: 100%;
  background-color: var(--background-color);
  /* Slideshow container */
}
.header__top {
  display: var(--flex);
  justify-content: center;
}
.header__top-box {
  width: 40px;
  height: 25px;
  background-color: var(--primary-color);
  margin-left: 50px;
}
.header__bottom {
  display: var(--flex);
  padding: var(--padding-20);
}
.header__bottom-logo {
  flex: 3;
}
.header__bottom-list {
  flex: 1;
  display: var(--flex);
  justify-content: flex-end;
  margin-right: 15px;
}
.header__bottom-list .header__item {
  margin-top: var(--margin-fixed);
}
.header__bottom-list .header__link {
  padding: 0 5px;
  color: var(--secondary-color);
  font-weight: var(--font-weight);
  font-size: var(--font1);
  margin-bottom: 0px;
}
.header__bottom-list .header__link:hover {
  text-decoration: underline;
}
.header__nav {
  display: var(--flex);
  background-color: var(--five);
}
.header__nav .nav__list {
  flex: 3;
  display: var(--flex);
  flex-direction: row;
  justify-items: center;
}
.header__nav .nav__list .nav__item {
  padding: var(--padding-20);
}
.header__nav .nav__list .nav__item .nav__link {
  color: var(--secondary-color);
}
.header__nav .nav__list .nav__item:hover {
  background-color: var(--secondary-color);
  transition: 1.5s ease;
}
.header__nav .nav__list .nav__item:hover .nav__link {
  color: var(--background-color);
}
.header__nav form {
  flex: 1;
  display: var(--flex);
  align-items: center;
  justify-content: flex-end;
}
.header__nav form .input__tim_kiem {
  padding: 5px 7px;
  margin-right: 7px;
}
.header__nav form .btn {
  position: relative;
  background-color: var(--secondary-color);
  margin-right: 0;
  width: 50px;
  height: 30px;
}
.header__nav form .btn .fa-search {
  position: absolute;
  top: 25%;
  right: 35%;
  color: #fff;
}
.header .slideshow-container {
  position: relative;
  margin: auto;
}
.header .slideshow-container .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.header .slideshow-container .prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.header .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.header .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.header .slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.header .dot {
  cursor: pointer;
  height: 6px;
  width: 45px;
  margin: 0 2px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  display: inline-block;
  transition: background-color 0.6s ease;
}
.header .active,
.header .dot:hover {
  background-color: var(--primary-color);
}

.content__top {
  margin: 15px var(--margin-fixed);
}
.content__product .flex {
  display: flex;
  margin: 0 -10px;
  margin-top: var(--padding-20);
}
.content__product .flex .item {
  flex: 1;
  margin: 0 10px;
  border: var(--border);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--five);
}
.content__product .flex .item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content__product .flex .item__bottom {
  padding: 5px var(--padding-20) var(--padding-20);
}
.content__product .flex .item__bottom .content__text {
  padding: 10px 0;
}
.content__product .flex .item__bottom .content__price {
  color: var(--primary-color);
  padding-bottom: 10px;
}
.content__product .flex .item__bottom .content__list .content__item {
  display: flex;
  color: dimgray;
}
.content__product .flex .item__bottom .content__list .content__item .fa {
  font-size: 15px;
  margin-top: 5px;
  margin-right: 10px;
  color: cornflowerblue;
}
.content__product .flex .item__bottom .content__list .content__item p {
  font-size: var(--font1);
}
.content__product .flex .item__bottom .btn {
  text-align: center;
  padding: 10px 2px;
  margin-top: var(--padding-20);
  background-color: var(--primary-color);
}
.content__product .flex .item__bottom .btn a {
  color: #fff;
}
.content__product .flex .item__bottom .btn:hover {
  transition: 1.5s ease;
  background-color: teal;
}
.content__introduction {
  text-align: center;
  margin-top: var(--margin-fixed);
}
.content__introduction .nav__item {
  display: inline-block;
}
.content__introduction .nav__item .nav__link {
  margin-left: -4px;
  padding: 10px 78px;
  border-bottom: 1px solid #bab6b6;
  color: #817b7b;
}
.content__introduction .nav__item .nav__link:hover {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.content__introduction .content__information {
  margin: var(--margin-fixed);
}
.content__introduction .content__information .flex {
  display: flex;
}
.content__introduction .content__information .flex .img__bg {
  margin-left: 10px;
}
.content__introduction .content__information .flex .information__top {
  padding: 50px;
  background-color: var(--five);
  position: relative;
}

.section .flex {
  display: flex;
  margin: 0 -15px;
  margin-top: var(--margin-fixed);
  margin-bottom: var(--margin-fixed);
}
.section .flex .item {
  flex: 1;
  margin: 0 15px;
}

.footer__top {
  display: flex;
  margin-bottom: var(--margin-fixed);
}
.footer__top .flex {
  display: flex;
  margin: 0 -20px;
  flex: 2;
}
.footer__top .flex .item {
  flex: 1;
  margin: 0 20px;
}
.footer__top .flex .item .footer__item {
  color: var(--secondary-color);
  padding-left: 10px;
}
.footer__top .right {
  flex: 1;
}
.footer__top .right .right__list {
  margin-left: 89px;
}
.footer__top .right .right__list .right__item-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.footer__top .right .right__list .right__item-icon .fa {
  font-size: 40px;
  color: var(--primary-color);
  margin-left: 10px;
}
.footer__top .right .right__list form input {
  margin-top: 5px;
  padding: 7px;
  width: 190px;
}
.footer__top .right .right__list form button {
  padding: 9px 11px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  margin-right: 0;
}
.footer__bottom {
  border-top: 2px solid black;
}
.footer__bottom .flex {
  display: flex;
  margin-top: var(--padding-20);
}
.footer__bottom .flex .distric__list {
  flex: 4;
  padding-left: 10px;
}
.footer__bottom .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family2);
  font-size: 14px;
}
.footer__bottom .center .flex__list {
  display: flex;
}
.footer__bottom .center .flex__list .flex__item a {
  color: var(--secondary-color);
  margin-bottom: 15px;
}
.footer__bottom .center .head {
  display: flex;
}
.footer__bottom .center .head .header__top-box {
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
