.header {
  width: 100%;
  background-color: var(--background-color);
}
.header__top {
  display: var(--flex);
  justify-content: center;
}
.header__top-box {
  width: 40px;
  height: 25px;
  background-color: var(--primary-color);
  margin-left: 50px;
}
.header__bottom {
  display: var(--flex);
  padding: var(--padding-20);
}
.header__bottom-logo {
  flex: 3;
}
.header__bottom-list {
  flex: 1;
  display: var(--flex);
  justify-content: flex-end;
  margin-right: 15px;
}
.header__bottom-list .header__item {
  margin-top: var(--margin-fixed);
}
.header__bottom-list .header__link {
  padding: 0 5px;
  color: var(--secondary-color);
  font-weight: var(--font-weight);
  font-size: var(--font1);
  margin-bottom: 0px;
}
.header__bottom-list .header__link:hover {
  color: var(--primary-color);
}
.header__bottom-list .active {
  color: var(--primary-color);
}

.header__nav {
  display: var(--flex);
  background-color: var(--five);
  position: sticky;
  top: 0;
  z-index: 2;
}
.header__nav .nav__list {
  flex: 3;
  display: var(--flex);
  flex-direction: row;
  justify-items: center;
}
.header__nav .nav__list .nav__item {
  padding: var(--padding-20);
  border-right: 1px solid var(--five);
}
.header__nav .nav__list .nav__item .nav__link {
  color: var(--secondary-color);
}
.header__nav .nav__list .nav__item:hover {
  background-color: var(--secondary-color);
  transition: 1.5s ease;
}
.header__nav .nav__list .nav__item:hover .nav__link {
  color: var(--background-color);
}
.header__nav .nav__list .active {
  background-color: var(--secondary-color);
}
.header__nav .nav__list .active .nav__link {
  color: var(--background-color);
}
.header__nav form {
  flex: 1;
  display: var(--flex);
  align-items: center;
  justify-content: flex-end;
}
.header__nav form .input__tim_kiem {
  padding: 5px 7px;
  margin-right: 7px;
}
.header__nav form .btn {
  position: relative;
  background-color: var(--secondary-color);
  margin-right: 10px;
  width: 50px;
  height: 30px;
  border: none;
}
.header__nav form .btn .fa-search {
  position: absolute;
  top: 25%;
  right: 35%;
  color: #fff;
  font-size: 16px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
.slideshow-container .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slideshow-container .prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slideshow-container .dot {
  cursor: pointer;
  height: 6px;
  width: 45px;
  margin: 0 2px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow-container .dot:hover {
  background-color: var(--primary-color);
}
.slideshow-container .active {
  background-color: var(--primary-color);
}

.content__top {
  margin: 15px var(--margin-fixed);
}
.content__product .flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-top: var(--padding-20);
}
.content__product .flex .item {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
  margin: 0 10px;
  border: var(--border);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--five);
  margin-top: var(--padding-20);
}
.content__product .flex .item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content__product .flex .item__bottom {
  padding: 5px var(--padding-20) var(--padding-20);
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content__product .flex .item__bottom .text {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content__product .flex .item__bottom .text .content__text {
  padding: 10px 0;
}
.content__product .flex .item__bottom .text .content__price {
  color: var(--primary-color);
  padding-bottom: 10px;
}
.content__product .flex .item__bottom .text .content__list {
  text-transform: capitalize;
}
.content__product .flex .item__bottom .text .content__list .content__item {
  display: flex;
  color: var(--secondary-color);
}
.content__product .flex .item__bottom .text .content__list .content__item .fa {
  font-size: 15px;
  margin-top: 5px;
  margin-right: 10px;
  color: cornflowerblue;
}
.content__product .flex .item__bottom .text .content__list .content__item p {
  font-family: var(--font-family2);
  font-size: 13px;
}
.content__product .flex .item__bottom .btn {
  text-align: center;
  padding: 10px 2px;
  margin-top: var(--padding-20);
  background-color: var(--primary-color);
  margin-bottom: 0;
}
.content__product .flex .item__bottom .btn a {
  color: #fff;
}
.content__product .flex .item__bottom .btn:hover {
  transition: 1.5s ease;
  background-color: var(--secondary-color);
}
.content__product .flex .w33 {
  width: calc(33.3% - 20px);
}
.content__introduction {
  text-align: center;
  margin-top: var(--margin-fixed);
}
.content__introduction .nav__item {
  display: inline-block;
}
.content__introduction .nav__item .nav__link {
  margin-left: -4px;
  padding: 10px 78px;
  border-bottom: 1px solid #bab6b6;
  color: #817b7b;
}
.content__introduction .nav__item .nav__link:hover {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.content__introduction .nav__item .active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.content__introduction .content__information {
  margin: var(--margin-fixed);
}
.content__introduction .content__information .flex {
  display: flex;
  padding: 80px 0px 54px 286px;
  position: relative;
}
.content__introduction .content__information .flex .img__bg {
  width: 410px;
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translate(0, -50%);
}
.content__introduction .content__information .flex .information__top {
  padding: 48px;
  background-color: var(--five);
  position: relative;
}
.content__introduction .content__information .flex .information__top .information__top-text {
  padding-left: var(--margin-fixed);
}
.content__introduction .content__information .flex.impomation__text {
  padding: 15px 0px;
}
.content__introduction .content__information .flex.impomation__text .information__top-desc {
  padding-left: 279px;
}
.content__introduction .content__information .information__top-text {
  padding: 15px;
  padding-bottom: var(--margin-fixed);
  font-family: var(--font-family2);
}
.content__introduction .content__information .content__information-bottom {
  background-image: url(../image/uploads/images/yum_img_pc2.jpg);
  background-repeat: no-repeat;
}
.content__introduction .content__information .content__information-bottom .flex {
  padding: 80px 0px 60px 286px;
  text-align: justify;
}
.content__introduction .content__information .content__information-bottom .flex .information__top-text {
  padding-left: var(--margin-fixed);
  font-size: 14px;
  margin-left: 175px;
  margin-right: 50px;
  margin-top: 60px;
  color: var(--background-color);
}
.content .content__party {
  margin: 0 var(--padding-20);
  text-align: center;
}
.content .content__party .nav__list .nav__item {
  display: inline-block;
}
.content .content__party .nav__list .nav__item .nav__link {
  margin-left: -4px;
  padding: 10px 78px;
  border-bottom: 1px solid #bab6b6;
  color: #817b7b;
}
.content .content__party .nav__list .nav__item .nav__link:hover {
  border-bottom: 1.5px solid var(--primary-color);
  color: var(--secondary-color);
}
.content .content__party .nav__list .nav__item .active {
  border-bottom: 1.5px solid var(--primary-color);
  color: var(--secondary-color);
}
.content .content__party .content__party-top {
  padding: 40px;
}
.content .content__party .content__party-top .content__party-text {
  color: var(--primary-color);
}
.content .content__party .content__party-top .content__party-desc {
  font-family: var(--font-family2);
  font-size: 14px;
}
.content .content__party .item__list {
  display: flex;
}
.content .content__party .item__list .item__item {
  flex: 1;
}
.content .content__party form .btn {
  margin-top: var(--margin-fixed);
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px var(--padding-20);
  border: none;
}
.content .content__collapsibles {
  margin-top: var(--margin-fixed);
  border: 1px solid var(--five);
  padding: var(--padding-20);
}
.content .content__collapsibles .article__collapsible {
  margin-bottom: 10px;
}
.content .content__collapsibles .article__collapsible .collapsible {
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  border: var(--border);
  font-size: 14px;
  font-family: var(--font-family2);
}
.content .content__collapsibles .article__collapsible .collapsible.active, .content .content__collapsibles .article__collapsible .collapsible:hover {
  background-color: white;
}
.content .content__collapsibles .article__collapsible .content {
  margin-top: 20px;
  display: none;
  overflow: hidden;
  background-color: white;
}
.content .content__collapsibles .article__collapsible .content .flex {
  display: flex;
  margin: 0 -10px;
  margin-top: 20px;
}
.content .content__collapsibles .article__collapsible .content .flex .item {
  flex: 1;
  margin: 0 10px;
  border: var(--border);
  border-radius: 5px;
}
.content .content__collapsibles .article__collapsible .content .flex .item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content .content__collapsibles .article__collapsible .content .flex .item .collapsible__list .collapsible__item {
  margin-top: 10px;
  margin-left: 30px;
  text-align: left;
}
.content .content__collapsibles .article__collapsible .content .flex .item .collapsible__list .collapsible__item .collapsible__text, .content .content__collapsibles .article__collapsible .content .flex .item .collapsible__list .collapsible__item .price {
  text-align: center;
  color: var(--primary-color);
}
.content .content__collapsibles .article__collapsible .content .form {
  display: flex;
  margin: 0 -100px 0 -10px;
}
.content .content__collapsibles .article__collapsible .content .form form {
  flex: 1;
  margin: 0 100px 0 10px;
}
.content .content__collapsibles .article__collapsible .content .form form .form__text {
  padding: var(--padding-20);
  color: var(--primary-color);
}
.content .content__collapsibles .article__collapsible .content .form form .form__list .form__item .form__text-desc {
  text-align: left;
  padding: 10px 0;
}
.content .content__collapsibles .article__collapsible .content .form form .form__list .form__item input {
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: var(--border);
}
.content .content__collapsibles .article__collapsible .content .form form .form__list .form__item button {
  background-color: var(--primary-color);
  border: none;
  padding: var(--padding-20);
  float: right;
  color: var(--background-color);
}
.content .content__collapsibles .article__collapsible .content .form form .form__list .form__item .nav2__item {
  margin-right: 5px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.section .flex {
  display: flex;
  margin: 0 -15px;
  margin-top: var(--margin-fixed);
  margin-bottom: var(--margin-fixed);
}
.section .flex .item {
  flex: 1;
  margin: 0 15px;
}

.footer__top {
  display: flex;
  margin-bottom: var(--margin-fixed);
}
.footer__top .flex {
  display: flex;
  margin: 0 -20px;
  flex: 2;
}
.footer__top .flex .item {
  flex: 1;
  margin: 0 20px;
}
.footer__top .flex .item .footer__item {
  color: var(--secondary-color);
  padding: 3px 10px;
}
.footer__top .flex .item .footer__item:hover {
  color: var(--primary-color);
}
.footer__top .right {
  flex: 1;
}
.footer__top .right .right__list {
  margin-left: 70px;
  margin-right: var(--padding-20);
}
.footer__top .right .right__list .right__item-icon {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.footer__top .right .right__list .right__item-icon .fa {
  font-size: 40px;
  color: var(--primary-color);
  margin-left: 10px;
}
.footer__top .right .right__list form input {
  margin-top: 5px;
  padding: 7px;
  width: 170px;
}
.footer__top .right .right__list form button {
  padding: 9px 11px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  margin-right: 5px;
}
.footer__bottom {
  border-top: 2px solid black;
}
.footer__bottom .flex {
  display: flex;
  margin-top: var(--padding-20);
}
.footer__bottom .flex .distric__list {
  flex: 4;
  padding-left: 20px;
  font-family: var(--font-family2);
  font-size: 14px;
}
.footer__bottom .flex .distric__list .distric__item {
  padding-bottom: 10px;
}
.footer__bottom .flex .thuong__hieu {
  margin-right: 40px;
}
.footer__bottom .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family2);
  font-size: 14px;
}
.footer__bottom .center .flex__list {
  display: flex;
  padding: 10px;
}
.footer__bottom .center .flex__list .flex__item a {
  color: var(--secondary-color);
  margin-bottom: 15px;
  padding: 0 5px;
}
.footer__bottom .center .flex__list .flex__item a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.footer__bottom .center .head {
  display: flex;
}
.footer__bottom .center .head .header__top-box {
  margin-top: 50px;
}

.content .flex .content__history-desc {
  font-family: var(--font-family2);
  font-weight: normal;
}
.content .flex .content__history {
  margin-top: var(--margin-fixed);
}
.content .flex .content__history .content__history-top {
  padding-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: var(--margin-fixed);
}
.content .flex .content__history .content__history-top .content__history-top-text {
  padding: var(--padding-20) 0;
}
.content .flex .content__history .content__history-top .content__history-text {
  margin-top: var(--margin-fixed);
  color: var(--primary-color);
}
.content .flex .content__history .content__history-bottom {
  position: relative;
  text-align: justify;
}
.content .flex .content__history .content__history-bottom .history__1860 {
  padding-left: 582px;
  position: absolute;
  top: 8.5%;
  right: 36px;
}
.content .flex .content__history .content__history-bottom .history__1930 {
  padding-left: 208px;
  position: absolute;
  top: 24%;
  right: 42%;
}
.content .flex .content__history .content__history-bottom .history__1930 .text-2 {
  font-family: "MuseoModerno", cursive;
  font-weight: bold;
}
.content .flex .content__history .content__history-bottom .history__1935 {
  padding-left: 208px;
  padding-right: 40px;
  padding-top: 10px;
  position: absolute;
  top: 44%;
  left: 21%;
}
.content .flex .content__history .content__history-bottom .history__1955 {
  padding-left: 208px;
  padding-right: 40px;
  padding-top: 10px;
  position: absolute;
  top: 56%;
  left: 14%;
}
.content .flex .content__history .content__history-bottom .end {
  padding-left: 208px;
  padding-right: 40px;
  padding-top: 10px;
  position: absolute;
  top: 72%;
  left: 15%;
}
.content .flex .content__history .content__history-bottom .history__1980 {
  padding-left: 82px;
  padding-right: 91px;
  padding-top: 10px;
  position: absolute;
  top: 83%;
  left: 12%;
  right: 35%;
}

.container .log-in .log-in-text {
  color: var(--primary-color);
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
.container .log-in .article-log-in {
  margin-left: 200px;
  margin-right: 150px;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  box-shadow: 0px 0px 0px var(--primary-color), 0px 0px 10px var(--primary-color);
}
.container .log-in .article-log-in .h3-2 {
  text-align: left;
  color: var(--secondary-color);
  margin-left: 80px;
  padding: 20px 0;
  font-size: 28px;
}
.container .log-in .article-log-in .form__log-in {
  margin: 0px 70px 20px;
  display: flex;
  flex-direction: column;
}
.container .log-in .article-log-in .form__log-in .ip_login, .container .log-in .article-log-in .form__log-in .btn {
  flex: 1;
  padding: 7px 10px;
  margin-bottom: 40px;
}
.container .log-in .article-log-in .form__log-in .ip_login {
  border: none;
  border-bottom: var(--border);
  outline: none;
  font-size: 16px;
}
.container .log-in .article-log-in .form__log-in .btn {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 100px;
  padding: 11px 0;
  outline: none;
  font-weight: bold;
  font-size: 17px;
}
.container .log-in .article-log-in .form__log-in .forget__passworld {
  color: #279DF3;
}
.container .log-in .article-log-in .form__log-in .login-end {
  margin-bottom: 10px;
}
.container .log-in .article-log-in .form__log-in .not__login {
  color: #948F8F;
  font-family: var(--font-family2);
  padding: 10px 0;
}
.container .log-in .article-log-in .form__log-in .tk {
  color: var(--secondary-color);
  text-align: center;
  padding: 10px 0;
  border-radius: 100px;
  outline: none;
  border: none;
  border: 1.2px solid var(--secondary-color);
  background-color: var(--background-color);
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 40px;
}

.content .content__party .content__collapsibles .article__collapsible .flex {
  display: flex;
}
.content .content__party .content__collapsibles .article__collapsible .flex .box {
  flex: 1;
  padding: 10px 0;
  margin-right: 70px;
  margin-bottom: 5px;
}
.content .content__party .content__collapsibles .article__collapsible .flex .box .box-icon {
  display: flex;
  margin: 10px 0;
}
.content .content__party .content__collapsibles .article__collapsible .flex .box .box-icon .box_text {
  flex: 1;
  color: var(--primary-color);
}
.content .content__party .content__collapsibles .article__collapsible .flex .box .box-icon span {
  flex: 1;
}
.content .content__party .content__collapsibles .article__collapsible .flex .box .box-icon .box-text-desc {
  padding: 5px 39px;
}
.content .content__party .content__collapsibles .article__collapsible .flex .box .box-icon .fas {
  color: var(--primary-color);
  padding: 0 10px;
  font-size: 20px;
}
.content .content__party .content__collapsibles .article__collapsible .flex .box .box-icon p {
  font-family: var(--font-family1);
}
.content .content__party .content__collapsibles .article__collapsible .flex .box .box-item {
  padding: 5px 10px;
  border-bottom: var(--border);
}
.content .content__party .content__collapsibles .article__collapsible .flex .box .text-2 {
  font-family: var(--font-family2);
  font-size: 14px;
}

.container .registration .registration-text-desc {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
}
.container .registration .article-log-in {
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  box-shadow: 0px 0px 0px var(--primary-color), 0px 0px 10px var(--primary-color);
  display: flex;
  margin: 15px;
}
.container .registration .article-log-in .item1 {
  flex: 1;
  border-right: 1px solid darkgray;
}
.container .registration .article-log-in .item1 .registration-text {
  font-family: var(--font-family1);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  padding: 10px;
  margin-bottom: 20px;
}
.container .registration .article-log-in .item1 .registration-icon {
  font-family: var(--font-family2);
  display: flex;
}
.container .registration .article-log-in .item1 .registration-icon .fas {
  font-size: 48px;
  padding-right: 15px;
  color: var(--primary-color);
}
.container .registration .article-log-in .item1 .registration-icon span {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 70px;
}
.container .registration .article-log-in .item {
  flex: 1;
  margin-left: 20px;
  padding: 40px 20px;
}
.container .registration .article-log-in .item .registration-item-text {
  text-align: center;
  padding: 10px;
  paddig-top: 0;
  font-size: 25px;
}
.container .registration .article-log-in .item .form__registration {
  display: flex;
  flex-direction: column;
}
.container .registration .article-log-in .item .form__registration .ip_registration {
  border: none;
  border-bottom: 1px solid darkgray;
  outline: none;
  font-size: 16px;
}
.container .registration .article-log-in .item .form__registration .ip_registration, .container .registration .article-log-in .item .form__registration .btn {
  flex: 1;
  padding: 7px 10px;
  padding-left: 0;
  margin-bottom: 40px;
}
.container .registration .article-log-in .item .form__registration .btn {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 100px;
  padding: 11px 0;
  outline: none;
  font-weight: bold;
  font-size: 17px;
}
.container .registration .article-log-in .item .form__registration label {
  margin: 10px 0;
}
.container .registration .article-log-in .item .form__registration .gender {
  padding: 10px 0;
  font-family: var(--font-family2);
}
.container .registration .article-log-in .item .form__registration .gender input {
  margin-right: 10px;
}
.container .registration .article-log-in .item .form__registration .gender span {
  margin-right: 150px;
}

.container .content .content__news {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 20px;
}
.container .content .content__news .new__item {
  display: flex;
  margin-bottom: 20px;
}
.container .content .content__news .new__item .item__left {
  flex: 1;
  margin-right: 20px;
}
.container .content .content__news .new__item .item__right {
  flex: 2;
  text-align: left;
}
.container .content .content__news .new__item .item__right .item__right-text {
  color: var(--primary-color);
  padding-bottom: 10px;
}
.container .content .content__news .new__item .item__right .item__right-desc {
  font-family: var(--font-family2);
  font-size: 16px;
  margin-right: 70px;
}

/*# sourceMappingURL=style.css.map */
