.content {

  // content__top start
  &__top {
    margin: 15px var(--margin-fixed);
  }
  // content__top end



  // content__product start
  &__product {
    .flex {
      display: flex;
      margin: 0 -10px;
      margin-top: var(--padding-20);

      .item {
        flex: 1;
        margin: 0 10px;
        border: var(--border);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: var(--five);

        &:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        &__bottom {
          padding: 5px var(--padding-20) var(--padding-20);

          .content__text {
            padding: 10px 0;
          }

          .content__price {
            color: var(--primary-color);
            padding-bottom: 10px;
          }

          .content__list {
            .content__item {
              display: flex;
              color: dimgray;

              .fa {
                font-size: 15px;
                margin-top: 5px;
                margin-right: 10px;
                color: cornflowerblue;
              }

              p {
                font-size: var(--font1);
              }
            }
          }

          .btn {
            text-align: center;
            padding: 10px 2px;
            margin-top: var(--padding-20);
            background-color: var(--primary-color);

            a {
              color: #fff;
            }

            &:hover {
              transition: 1.5s ease;
              background-color: teal;
            }
          }
        }
      }
    }
  }
  // content__product end


  // introduction start 
  &__introduction {
    text-align: center;
    margin-top: var(--margin-fixed);

    .nav__item {
      display: inline-block;

      .nav__link {
        margin-left: -4px;
        padding: 10px 78px;
        border-bottom: 1px solid #bab6b6;
        color: #817b7b;

        &:hover {
          border-bottom: 2px solid var(--primary-color);
          color: var(--primary-color);
        }
      }
    }

    // nav__item end
    .content__information {
      margin: var(--margin-fixed);

      .flex {
        display: flex;
        padding: 80px 0px 54px 286px;
        position: relative;

        .img__bg {
          width: 410px;
          position: absolute;
          left: -2rem;
          top: 50%;
          transform: translate(0, -50%);
        }

        .information__top {
          padding: 48px;
          background-color: var(--five);
          position: relative;
          .information__top-text {
            padding-left: var(--margin-fixed);
          }
        }

        &.impomation__text {
          padding: 15px 0px;

          .information__top-desc {
            padding-left: 279px;
          }
        }
      }
      .information__top-text {
        padding: 15px;
        padding-bottom: var(--margin-fixed);
        font-family: var(--font-family2);
      }

      .content__information-bottom {
        background-image: url(../image/uploads/images/yum_img_pc2.jpg);
        background-repeat: no-repeat;
        
        .flex {
          padding: 80px 0px 60px 286px;
          text-align: justify;
          .information__top-text {
            padding-left: var(--margin-fixed);
            font-size: 14px;
            margin-left:175px;
            margin-right: 50px;
            margin-top: 60px;
            color: var(--background-color);
          }
        }
      }
    }
  }
  // itroduction end

  // content__party start
  .content__party {
    margin: 0 var(--padding-20);
    text-align: center;

    .nav{
    
      &__list {
        .nav__item{
          display: inline-block;
          .nav__link {
            margin-left: -4px;
            padding: 10px 78px;
            border-bottom: 1px solid #bab6b6;
            color: #817b7b;
    
            &:hover {
              border-bottom: 2px solid var(--primary-color);
              color: var(--secondary-color);
            }
          }
        }
      }
    }
    .content__party-top{
      padding: 40px;
      .content__party-text {
        color:var(--primary-color);
      }
      .content__party-desc{
        font-family: var(--font-family2);
        font-size: 14px;
      }
    }
    .item__list {
      display: flex;
      .item__item {
        flex: 1;
      }
    }

    form {
      .btn {
        margin-top: var(--margin-fixed);
        background-color: var(--primary-color);
        color:var(--background-color);
        padding:10px var(--padding-20);
        border: none;
      }
    }
  }
  // content__party end


}
