.footer {
    &__top {
        display: flex;
        margin-bottom: var(--margin-fixed);

        .flex {
            display: flex;
            margin: 0 -20px;
            flex: 2;

            .item {
                flex: 1;
                margin: 0 20px;

                .footer__item {
                    color: var(--secondary-color);
                    padding: 3px 10px;

                   &:hover{
                       color:var(--primary-color);
                   }
                }
            }
        }

        .right {
            flex: 1;

            .right__list {
                margin-left: 70px;
                margin-right: var(--padding-20);

                .right__item-icon {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;

                    .fa {
                        font-size: 40px;
                        color: var(--primary-color);
                        margin-left: 10px;
                    }
                }

                form {
                    input {
                        margin-top: 5px;
                        padding: 7px;
                        width: 170px;
                    }

                    button {
                        padding: 9px 11px;
                        background-color: var(--primary-color);
                        border: none;
                        color: #fff;
                        margin-right: 5px;
                    }
                }
            }
        }

        // right end
    }

    &__bottom {
        border-top: 2px solid black;

        .flex {
            display: flex;
            margin-top: var(--padding-20);

            .distric__list {
                flex: 4;
                padding-left: 20px;
                font-family: var(--font-family2);
               font-size: 14px;
                .distric__item {
                    padding-bottom: 10px;
                }
                
            }
            .thuong__hieu {
                margin-right: 40px;
            }
        }

        .center {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: var(--font-family2);
            font-size: 14px;

            .flex__list {
                display: flex;
                padding:10px;

                .flex__item a {
                    color: var(--secondary-color);
                    margin-bottom: 15px;
                    padding: 0 5px;
                    &:hover {
                        color:var(--primary-color);
                        text-decoration: underline;
                    }
                }
            }
            .head {
                display: flex;
                .header__top-box {
                    margin-top: 50px;
                }
            }
        }
    }
}
